
.img-body {
    height:300px;
    width:300px;
    border-radius: 50%;
    margin-top: 100px;
    object-fit: cover;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:35px;
}
.hero h1{
    text-align: center;
    width:70%;
    font-size:50px;
    font-weight: 600;
}
.hero h1 span {
    background: linear-gradient(267deg,#e8eaad 0.36%, #2395e1 101.06%);
    background-clip:text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.hero p{
    width:60%;
    font-size: 22px;
    line-height: 40px;
}
.hero-action {
    display: flex;
    align-items: center;
    gap:25px;
    font-size: 22px;
    font-weight: 500;
    margin-top:40px;
}
.hero-connect {
    padding:20px 41px;
    border-radius: 50px;
    background: linear-gradient(267deg,#e8eaad 0.36%, #2395e1 101.06%);
    cursor: pointer;
}
.hero-resume {
    padding:15px 40px;
    border-radius: 40px;
    font-size: 18px;
    border:2px solid #fff;
    cursor: pointer;
}
.hero-connect:hover {
    border:2px solid white;
}
.hero-resume:hover {
    border-color: #B415FF;
}


  .hero-connect {
    padding:15px 40px;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    box-shadow: 0 0 25px rgba(255,255,255,0.2), inset 0 0 10px rgba(255,255,255,0.2);
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  .hero-connect a {
    text-decoration: none;
    color:aliceblue;
  }

  .hero-connect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255,255,255,0.3);
  }

@media(max-width:768px) {
    .hero h1 {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p {
        width:65%;
        font-size:18px;
        line-height: 32px;
        margin:10px 0px;

    }
    .hero-action {
        gap:16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect {
        padding:20px 30px;
        border-radius: 40px;

    }
    .hero-resume {
        padding:20px 50px;
        border-radius: 40px;
    }
}