
.img-body {
    height:300px;
    width:300px;
    border-radius: 50%;
    margin-top: 100px;
    object-fit: cover;
    border: 5px solid #d0d0d0;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  transition: transform 0.4s ease;
}
.img-body:hover {
    transform: scale(1.05);
}
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:35px;
}
.hero h1{
    text-align: center;
    width:70%;
    font-size:50px;
    font-weight: 600;
}
.hero h1 span {
    background: linear-gradient(267deg,#8ed165 0.36%, #2395e1 101.06%);
    background-clip:text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.hero p{
    width:60%;
    font-size: 22px;
    line-height: 40px;
    color: black;
}
.hero-action {
    display: flex;
    align-items: center;
    gap:25px;
    font-size: 22px;
    font-weight: 500;
    margin-top:40px;
}
.hero-connect {
  display: inline-block;
  padding: 14px 38px;
  border-radius: 50px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 15px rgba(111, 46, 201, 0.4);
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}

/* Smooth hover animation */
.hero-connect:hover {
  background: linear-gradient(240deg,#6e8efb,#cfcad2);
  transform: scale(1.08);
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.3);
}
.hero-resume {
    padding:15px 40px;
    border-radius: 40px;
    font-size: 18px;
    border:2px solid #f0eeee;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.15); /* translucent background */
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    transition: all 0.4s ease-in-out;
    
}

.hero-resume:hover {
    border-color: #cfcad2;
}

  .hero-connect a {
    text-decoration: none;
    color:rgb(31, 33, 35);
  }

  .hero-connect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255,255,255,0.3);
  }

@media(max-width:768px) {
    .hero h1 {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p {
        width:65%;
        font-size:18px;
        line-height: 32px;
        margin:10px 0px;

    }
    .hero-action {
        gap:16px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 50px;

    }
    .hero-connect {
        padding:20px 10px;
        font-size: 15px;
        border-radius: 40px;

    }
    .hero-resume {
        padding:20px 25px;
        font-size: 15px;
        border-radius: 40px;
    }
}