
.body-img {
    height: 400px;
    width:300px;
    border-radius: 20px;
    object-fit: cover;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin:70px 140px;
}
.about-title {
    position:relative;
}
.about-title h1 {
    padding:0px 30px;
    font-size: 50px;
    font-weight: 500;
}
.about-title img{
    position:absolute;
    bottom: 0;
    right:0;
    z-index: -1;
    width: 190px;
  opacity: 0.5;
}



/* Section Layout */
.about-sections {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about-left {
  flex: 1;
  min-width: 280px;
  display: flex;
  justify-content: center;
}

.about-left .body-img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.about-right {
  flex: 1;
  min-width: 320px;
}

.about-para p {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #ccc;
}

/* Skills */
.about-skills {
  margin-top: 20px;
}

.row1,
.row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.about-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height:100px;
  border-radius: 50%;
}

.skill-img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  border-radius: 50%;
}

/* Achievements */
.about-achievements {
  margin-top: 50px;
  text-align: center;
}

.about-achievement h1 {
  font-size: 2.5rem;
  color: #f8f8f8;
}

.about-achievement p {
  font-size: 1rem;
  color: #ccc;
}

@media (max-width: 768px) {
  .about-sections {
    flex-direction: column;
    text-align: center;
  }

  .about-left .body-img {
    max-width: 80%;
  }

  .about-title h1 {
    font-size: 2rem;
  }

  .about-skill {
    width: 80px;
  }

  .skill-img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .about-sections {
    flex-direction: row;
    text-align: left;
  }

  .about-left .body-img {
    max-width: 300px;
  }

  
}

@media (min-width: 1201px) {
  .about-sections {
    justify-content: space-between;
  }

  .about-title h1 {
    font-size: 3rem;
  }

  .about-right {
    max-width: 600px;
  }
}
